<% include ../partials/header %>
<div style="text-align:center" class="container">
  <h1><%= post.title %></h1>
  <h5 id="year"><%= post.year %></h5>
  <img id="image" src="<%= post.image %>">
  <p id="plot"><%= post.plot %></p>

  <div class="button">
    <a href="/movies/<%= post._id %>/edit">
      <button id="edit" class="btn btn-primary">Edit Post</button>
    </a>

    <form class="delete-movie-form" action="/movies/<%= post._id %>?_method=DELETE" method="POST">
    <button id="delete" class="btn btn-danger">Delete Post</button>
  </form>
</div>
  <% include ../comments/new %>
</div>
<% include ../partials/footer %>
